@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
  font-family: mf1;
  src:url(Satoshi-Bold.ttf);
}

@font-face {
  font-family: md1;
  src:url(SF-Pro-Display-Semibold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000000;
  margin: 100px 0;
  overflow-x: hidden;
}

#text {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: md1;
}

#text p {
  text-align: left;
  font-size: 32px;
  margin-left: 25px;
  font-family: md1;
}  

h2{
  color: #fff;
  font-size: 47px;
  line-height: 40px;
}

a{
  color: #808080;
  text-decoration: none;
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
  curser: pointer;
  letter-spacing: 6px;
  transition: all 0.5s ease-in-out;
}

a:hover{
  color: #fff;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}

/********************IMPORTANT SHIT STARTS HERE********************/


#moveable1, #moveable2 {
    position: absolute;
    z-index: 9;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    padding-top: 10px;
    width: 600px;
    height: 400px;
}

#moveable1header, #moveable2header {
    padding-bottom: 35px;
    cursor: move;
    transform: translate(260px,0);
    z-index: 10;
    color: #ffffff;
}

#moveable11header {
  z-index: 10;
  width: 110px;
  color: #ffffff;
  position: relative;
  transform: translate(0px,-49px);
  margin-top: -7px;
}
