@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: mf1;
  src: url(Satoshi-Bold.ttf);
}

@font-face {
  font-family: md1;
  src: url(sk-concretica-trial.ttf);
}

@font-face {
  font-family: mf2;
  src: url(NimbusSanL-Reg.otf);
}

@font-face {
  font-family: out1;
  src: url(Cavana-mLj0P.ttf);
}

@font-face {
  font-family: out2;
  src: url(Library3amsoft-6zgq.otf);
}

@font-face {
  font-family: SFPRO;
  src: url(SF-Pro-Display-Semibold.otf);
}

@font-face {
  font-family: TH1FL;
  src: url(LINESeedSansTH_Rg.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000000;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* config and variables */

A:hover {
  color: rgb(202, 255, 189);
}

p {
  list-style: none;
  text-decoration: none;
}

body {
  color: #fff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

:root {
  --main-bgLight-color: #ffe7ec;
  --main-bgLightPro-color: #ffffff;
  --main-Clients-color: #000;
  --main-HaigHover-color: #DB7F67;
  --main-SecHover-color: #F4CFC6;

  --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --hover-timing: all 0.2s ease;
  --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}


/* configlation end */

#myHamburger-menu {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.925);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
  height: 65px;
}

span {
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px 50px;
  font-size: 26px;
}

#Logo-nav {
  display: block;
  margin: -12px 50px;
  transform: translate(0px,-35px);
  justify-content: center;
  z-index: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  object-fit: contain;
  border-radius: 50px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.85);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 120px;
  border-right: rgb(202, 255, 189) solid 3px;
  border-image: linear-gradient(-155deg, rgb(0, 0, 0), rgb(202, 255, 189)) 1;
}

.sidenav a {
  padding: 8px 8px 18px 62px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-family: mf1;
}

.sidenav a:hover {
  color: rgb(202, 255, 189);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 175px;
  font-size: 42px;
  margin-left: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 590px) {
  .header-info {
    width: 280px
  }
}

header {
  margin: 80px 0;
  height: 450px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5e3e6;
  background: -webkit-linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%);
  background: linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%);
  clip-path: polygon(0% 0%, 100% 7.8%, 100% 93.8%, 0% 100%);
}

.header-info {
  width: 325px;
  color: #000000;
  font-family: mf1;
}

.header-info a {
  background-color: #000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  width: 120px;
  margin-top: 25px;
  transition: ease-in-out 0.3s;
}

.header-info a:hover {
  border: rgb(202, 255, 189) solid;
  background-color: #000;
  color: rgb(202, 255, 189);
  width: 150px;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

header h1 {
  font-weight: 900;
  margin: 20px 0;
}

#slider-wrapperM {
  background: no-repeat url("Fl.main.png");
  background-size: cover;
  background-position: 50%;
  background-position: 12vw;
  height: 320px;
  display: flex;
  align-items: center;
  margin: 0 0px;
  border: rgb(202, 255, 189) solid 1px;
  border-image: linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%) 1;
}

.slider-textM {
  background: linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 600px;
  padding-left: 60px;
}

#slider-titleM {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

#slider-subtitleM {
  font-size: 18px;
  margin: 15px 0 25px 0;
}

@media (max-width: 1100px) {
  #slider-subtitleM {
    margin-bottom: 40px;
  }
}

@media (max-width: 968px) {
  #slider-wrapperM {
    background-position: center;
  }

  ul>li {
    margin-left: 90px;
  }

  #slider-subtitleM {
    margin-bottom: 20px;
  }

  #slider-titleM {
    font-size: 30px;
  }
}

.menu-call li a {
  display: flex;
  list-style: none;
  text-decoration: none;
  transition: all 0.7s;
  color: #ffffff;
}

.pages {
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4rem;
  transform: translate(-20%, 280%);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.527);
  -webkit-text-fill-color: transparent;
  z-index: -2;
  position: absolute;
}

.mainpic {
  filter: brightness(20%);
  aspect-ratio: 16 / 9;
  width: 100%;
  margin: 50px 0;
}

.maintitle {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 80px 0;
  font-family: mf1;
  font-size: 55px;
  height: 10vh;
}


main {
  display: flex;
  flex-direction: row;
  margin: 10vh auto;
  min-height: 800px;
  max-width: 1560px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.column {
  color: hsl(0, 0%, 100%);
  padding: 3rem;
}

.column-pic {
  width: 400px;
  object-fit: contain;
  height: 600px;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  display: flex;
  z-index: 2;
}

.one {
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  margin: 0 10px;
  border: rgb(202, 255, 189) solid 2px;
  border-image: linear-gradient(55deg, rgb(0, 0, 0), rgb(202, 255, 189)) 1;
}

.two {
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  margin: 0 10px;
  border: rgb(157, 210, 219) solid 2px;
  border-image: linear-gradient(75deg, rgb(0, 0, 0), rgb(157, 210, 219)) 1;
}

.three {
  background-color: hsl(0, 0%, 0%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  margin: 0 10px;
  border: rgb(255, 152, 152) solid 2px;
  border-image: linear-gradient(55deg, rgb(0, 0, 0), rgb(255, 152, 152)) 1;
}

.title {
  font-family: md1;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 3rem auto;
  text-transform: uppercase;
}

.description {
  font-family: mf2;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 6rem;
  height: 8rem;
  opacity: 0.75;
}

.more {
  background-color: hsl(0, 0%, 95%);
  transition: ease-in 0.2s;

  font-size: 15px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  width: 140px;
  text-align: center;
  font-family: mf1;
  margin-left: auto;
  margin-right: auto;
}

.more:hover {
  background-color: inherit;
  color: rgb(202, 255, 189);
}

.more-one {
  color: hsl(0, 0%, 0%);
}

.more-two {
  color: hsl(0, 0%, 0%);
}

.more-three {
  color: hsl(0, 0%, 0%);
}

/* end card 1 featured game */

/* QUERY */
@media screen and (max-width: 695px) {
  main {
    flex-direction: column;
    margin: 20px auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .more {
    overflow: hidden;
    background-color: #000;
  }

  .description {
    height: auto;
    margin-bottom: 5rem;
  }

  .maintitle {
    font-size: 40px;
  }

  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .column-pic {
    transform: translate(0, -140px);
    width: 240px;
  }

  .column {
    height: 450px;
    z-index: -1;
  }
}

@media screen and (max-width: 1010px) {
  main {
    flex-direction: column;
    width: 100%;
  }

  .description {
    height: auto;
    margin-bottom: 1.5rem;
  }
}


#slider-wrapperS {
  background: no-repeat url("Black-Screen.png");
  background-size: cover;
  height: 320px;
  display: flex;
  align-items: center;
  margin: 0 60px;
  border: rgba(202, 255, 189, 0.205) solid 1px;
  border-image: linear-gradient(105deg, rgb(157, 210, 219), rgb(187, 248, 171),rgb(255, 152, 152)) 1;
}

.slider-textS {
  color: white;
  max-width: 600px;
  padding-left: 60px;
}

#slider-titleS {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

#slider-subtitleS {
  font-size: 18px;
  margin: 15px 0 25px 0;
}

@media (max-width: 1100px) {
  #slider-subtitleS {
    margin-bottom: 40px;
  }
}

@media (max-width: 968px) {
  #slider-wrapperS {
    background-position: center;
  }

  ul>li {
    margin-left: 90px;
  }

  #slider-subtitleS {
    margin-bottom: 20px;
  }

  #slider-titleS {
    font-size: 30px;
  }
}


/* button viewmore */

span {
  padding: 10px;
}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 2.2em;
  }

  #container {
    width: 50%;
  }
}

/* button end */

/* enb tilte */

.header1 {
  height: 450px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5e3e6;
  background: -webkit-linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%);
  background: linear-gradient(69deg, #f5e3e6 0%, #d9e4f5 100%);
  margin: 100px 0;
  clip-path: polygon(0% 7.8%, 100% 0%, 100% 97.5%, 0% 100%);
  margin-top: 400px;
}

.header-info1 {
  width: 715px;
  color: #000000;
  font-family: mf1;
  font-size: 26px;
  font-weight: 900;
}

.header-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
  transition: ease-in-out 0.3s;
}

.outline-text {
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.233);
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  z-index: -4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(70px, 730px);
  letter-spacing: 20px;
}

.outline-text-main {
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.459);
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  z-index: -4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(70px, 730px);
  letter-spacing: 20px;
}

.professional_section {
  background: url(map01.png) no-repeat;
  filter: blur(5px);
  background-size: 100%;
  filter: brightness(30%);
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 650px;
  transform: translate(0, -40px);
  clip-path: polygon(0% 0%, 100% 11.5%, 100% 88.3%, 0% 100%);
}

.professionals_section {
  background: url(Vcmap.jpeg) no-repeat;
  background-size: 100%;
  filter: brightness(50%);
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 950px;
  transform: translate(0, -100px);
  clip-path: polygon(0% 13.5%, 100% 0%, 100% 100%, 0% 84.2%);
}

.professionals1_section {
  background: url(Ivmap.png) no-repeat;
  background-size: 100%;
  opacity: 10%;
  filter: grayscale(100%);
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 550px;
  transform: translate(0, -100px);
  clip-path: polygon(0% 5.8%, 100% 10.5%, 100% 100%, 0% 100%);
}

.image-freearea {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 450px;
  height: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 6px;
}

@media screen and (max-width: 960px) {
  .image-container {
    height: 300px;
    border-radius: 0px;
  }

  .image-freearea {
    height: 300px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1.3);
  transition: 400ms ease;
}

.image:hover {
  transform: scale(1);
}

.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1.3);
  transition: 400ms ease;
}

.image2:hover {
  transform: scale(1);
}

.image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform: scale(1.3);
  transition: 400ms ease;
}

.image3:hover {
  transform: scale(1);
}

.flex-btn a {
  color: #000000;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
  margin: 30px 0;
  padding: 0.5rem 1rem;
  width: 120px;
}


.feadS {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: mf2;
  font-size: 60px;
  margin: 120px 0;
}

.feadM {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: mf1;
  font-size: 55px;
}

.feadSA {
  color: rgb(202, 255, 189);
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: mf1;
  font-size: 25px;
  margin: 5px 0;
}

.feadVC {
  color: rgb(202, 255, 189);
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: mf1;
  font-size: 25px;
  margin: 5px 0;
}

.fead3 {
  color: rgb(202, 255, 189);
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: md1;
  font-size: 35px;
  margin: 5px 0;
}


/* CARD 2 */

article {
  --img-scale: 1.001;
  --title-color: rgb(255, 255, 255);
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  box-shadow: none;
  background: #000000;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border: rgba(202, 255, 189, 0.205) solid 2px;
  border-image: linear-gradient(55deg, rgb(0, 0, 0), rgb(202, 255, 189)) 1;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

.reveal {
  position: relative;

  filter: brightness(0%);
  -webkit-transition: all 1s cubic-bezier(1, 0.01, 0.11, 0.8);
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  filter: blur(50%);
  scale: 80%;
  opacity: 10%;
}

.reveal.active {

  filter: brightness(100%);
  filter: blur(0%);
  scale: 100%;
  opacity: 100%;
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: mf1;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.article-body {
  padding: 64px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: rgb(202, 255, 189);
}

article a:focus {
  outline: 1px dotted rgb(202, 255, 189);
}

article p {
  color: #ffffff9f;
  margin: 20px 0;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: rgb(202, 255, 189);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

.articles {
  display: grid;
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 64px;
  padding: 100px 0;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
    width: 100%;
    align-items: center;
    text-align: left;
  }

  .article-body p {
    display: none;
  }

  .one {
    margin: 0 10px;
    border-radius: 15px;
    border: rgb(202, 255, 189) solid 2px;
    border-image: linear-gradient(55deg, rgb(0, 0, 0), rgb(202, 255, 189)) 1;
  }

  .two {
    margin: 0 10px;
    border-radius: 15px;
    border: rgb(157, 210, 219) solid 2px;
    border-image: linear-gradient(-85deg, rgb(0, 0, 0), rgb(157, 210, 219)) 1;
  }

  .three {
    margin: 0 10px;
    border-radius: 15px;
    border: rgb(255, 152, 152) solid 2px;
    border-image: linear-gradient(105deg, rgb(0, 0, 0), rgb(255, 152, 152)) 1;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    ;
    position: absolute;
    z-index: -2;
  }

  article {
    border-image: linear-gradient(55deg, rgb(0, 0, 0), rgb(202, 255, 189)) 1;
    height: 250px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  figure img {
    opacity: 0%;
  }

  .feadM {
    font-size: 36px;
  }

  .feadS {
    font-size: 36px;
    margin: 50px 0;
  }

  .Con {
    font-size: 18px;
  }

  .header1 h1 {
    font-size: 36px;
    text-align: center;
  }

  .header-btn {
    width: 200px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  article {
    height: 200px;
    margin: 0px -70px;
  }  

  article img {
    overflow: hidden;
    z-index: -10;
  }  

}  

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.end .wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.end .wrapper ul {
  margin-top: 20px;
  order: 1;
}

.end {
  background-color: transparent;
}

.text-secton {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: mf1;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 10px;
}

#text-warning {
  color: rgb(202, 255, 189);
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-btnplus {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  width: 120px;
  transition: ease-in-out 0.3s;
}

.header-btnplus:hover {
  background-color: #000;
  color: rgb(202, 255, 189);
  display: flex;
  justify-items: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.section {
  max-width: 1200px;
  margin: 10px auto 60px auto;
}

.section--slider {
  max-width: 1280px;
  margin-top: 75px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  left: 42%;
  top: 50px;
  position: absolute;
  background-color: black;
  height: 2px;
  width: 150px;
}

.section-title::before {
  content: "";
  left: 48%;
  top: 60px;
  position: absolute;
  background-color: black;
  height: 2px;
  width: 150px;
}

#page-wrapper {
  position: relative;
}

#slider-wrapper {
  background: no-repeat url("Black-Screen.png");
  background-size: cover;
  height: 320px;
  display: flex;
  align-items: center;
  margin: 0 60px;
  border: rgba(202, 255, 189, 0.205) solid 2px;
  border-image: linear-gradient(105deg, rgb(0, 0, 0), rgba(187, 248, 171, 0.329)) 1;
}

.slider-text {
  color: white;
  max-width: 500px;
  padding-left: 60px;
}

#slider-title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 10px 0;
}

#slider-subtitle {
  font-size: 18px;
  margin: 15px 0 25px 0;
}

@media (max-width: 1100px) {
  #slider-subtitle {
    margin-bottom: 40px;
  }
}

@media (max-width: 968px) {
  #slider-wrapper {
    background-position: center;
  }

  ul>li {
    margin-left: 75px;
  }

  #slider-subtitle {
    margin-bottom: 20px;
  }
}

.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 600;
  font-family: mf1;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 0px 0;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
}
