@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@font-face {
  font-family: SATO;
  src: url(../Satoshi-Bold.ttf);
}

@font-face {
  font-family: sfpro;
  src: url(../SF-Pro-Display-Semibold.otf);
}

body.dark-theme {
  color: #fff0e6;
  background: #0e0e0e;
}

body.dark-theme a {
  color: #edd6c8;
}


::selection {
  background-color: #121212;
  color: #edd6c8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sfpro;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 3px solid currentColor;
}
.cursor--small {
  --size: 20px;
  background: currentColor;
  transform: translate(-50%, -50%);
}

.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 1000vh;
  transition: width 0s 4.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.8s ease;
}

.loader .loader__icon svg {
  transform-origin: 0 0;
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.965);
  backdrop-filter: blur(20px);
  transition: width 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 1s;
}

.loader .loader__tile:nth-child(0) {
  top: calc(-2 * 20%);
  transition-delay: 5s;
}

.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.7s;
}

.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}

.loader--active {
  width: 100%;
  transition-delay: 0s;
}

.loader--active .loader__icon {
  opacity: 1;
  transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
  width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

a:active {
  background-color: #edd6c8;
    transform: translateY(4px);
    scale: 85%;
}

/* motion background #2 */

@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 0px 50px;
    }
  }
  @-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  @keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
  }
  /* Main styles */
  body {
    /* img size is 50x50
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;; */
    background-color: #faebd7;
    -webkit-animation: bg-scrolling-reverse 2.00s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0192s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 2.00s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 2.00s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    overflow-x: hidden;
  }
  
  body.dark {
    background-size: 0px;
    background-color: var(--body-color);
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 7;
    background: rgba(232, 233, 216, 0.66);
    border-radius: 16px;
    backdrop-filter: blur(16.8px);
    transition: top 0.3s;
    animation: SlideTotop 0.8s;
    animation-delay: 1.2s;
  }

  @keyframes SlideTotop {
    0% {
      opacity: 0;
      backdrop-filter: blur(10px);
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      backdrop-filter: blur(0px);
      transform: translateY(0px);
    }
  }

/* #faebd7 */

body.dark-theme nav {
  background: rgba(3, 3, 3, 0.74);
}

.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-text h1 {
    font-size: 22px;
    background-color: #000;
    border-radius: 5px;
    color: #E4D0A6;
    -webkit-text-stroke-width: 0.7px;
    padding: 0.2rem 1rem;
}

body.dark-theme .navbar-text h1 {
  background-color: #E4D0A6;
  color: #000;
}

.navbar-image {
  background: url(../Peakk-Logo/DarkMode.png);
  background-position: center;
  width: 35px;
  margin-right: 0.6rem;
  height: 35px;
  border-radius: 5px;
  background-size: cover;
}

body.dark-theme .navbar-image {
  background: url(../Peakk-Logo/LightMode.png);
  background-position: center;
  width: 35px;
  margin-right: 0.6rem;
  height: 35px;
  border-radius: 5px;
  background-size: cover;
}

.navbar-content {
    display: flex;
    align-items: center;
}

.adjust-nav-width {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 1100px; 
  margin: 0 auto;
}

.navbar-links {
    display: flex;
    gap: 14px;
    margin-left: 1.5rem;
  }

.navbar-links a {
    font-size: 17px;
    color: #000;
    border-bottom: 3px #000 solid;
    padding: 0.2rem 0.1rem;
}

body.dark-theme .navbar-links a {
  border-bottom: 2px currentColor solid;
}

#Toggle-link {
    display: flex;
    font-size: 18px;
    margin-left: 0.6rem;
    margin-top: 0.2rem;
    cursor: pointer;
    visibility: hidden;
}

/* 
.navbar-links a ion-icon {
  margin-left: 0.3rem;
  transform: translateY(2px);
} */

.navbar-tray {
    display: flex;
    gap: 20px;
}

.navbar-tray a {
    color: #000;
    font-size: 16px;
}

.control {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  background: transparent;
  backdrop-filter: blur(30px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(235, 235, 235, 0.747);
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  transition: 0.5s width;
  overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: currentColor; 
}

body.dark-theme .overlay {
  background-color: rgba(0, 0, 0, 0.872);
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
  color: #000;
  display: block;
  padding: 0.4rem 1.5rem;
}

.Text-options p {
  font-size: 24px;
  padding: 0.4rem 1.5rem;
  font-family: Silkscreen;
  letter-spacing: -2px;
  -webkit-text-stroke-width: 1px;
}

body.dark-theme .Text-options p {
  color: #E4DCCB;
}

body.dark-theme .Text-options ion-icon {
  color: #E4DCCB;
}

.Text-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.Text-options ion-icon {
  font-size: 28px;
  position: absolute;
  right: 30px;
}

.overlay-content a ion-icon {
  position: absolute;
  right: 30px;
  font-size: 28px;
}

body.dark-theme .overlay .closebtn {
  color: #E4DCCB;
}

.overlay .closebtn {
  color: #000;
  font-size: 36px;
  margin-right: 2rem;
}

.close-btn {
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

#Name {
  padding: 0.3rem 1.5rem;
  font-size: 24px;
  font-family: Silkscreen;
  letter-spacing: -3px;
  -webkit-text-stroke-width: 1px;
}

.Darkmode {
  background-color: #edd6c8;
    font-size: 16px;
    padding: 0.4rem 1rem;
    border: solid 2px #222;
    box-shadow: #000 3px 3px 0px 1px;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
}

body.dark-theme .Darkmode {
  box-shadow: #edd6c8 3px 3px 0px 1px;
  background: #030303;
  border: solid 2px #edd6c8;
  color: currentColor;
}

.Theme-Selecter {
  display: block;
  margin-top: 1.5rem;
}

.Theme-Selecter a {
  margin-bottom: 0.6rem;
  border: solid 2px #222;
  box-shadow: #000 3px 3px 0px 1px;
  background-color: #edd6c8;
  margin: 1rem;
  width: 75%;
  padding: 0.55rem 1rem;
  margin-left: 1.5rem;
  font-size: 18px;
}

body.dark-theme .Theme-Selecter a {
  box-shadow: #edd6c8 3px 3px 0px 1px;
  background: #030303;
  border: solid 2px #edd6c8;
}

.language-selecter {
  margin-top: 1.2rem;
}

body.dark-theme .btn-toggle {
  color: #eee;
}

.btn-toggle {
  border: none;
  font-size: 16px;
  background-color: transparent;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
}

/* dropdown */

.dropbtn {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
  }

  body.dark-theme .dropbtn {
    color: #eee;
  }

  .dropbtn ion-icon {
    margin-left: 0.3rem;
    transform: translateY(3px);
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0.9rem;
    right: -16px;
  }

  body.dark-theme   .dropdown-content {
    background-color: #030303;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content p {
    padding: 12px 16px;
    font-family: Silkscreen;
    letter-spacing: -1px;
    text-decoration: underline;
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
  }
  
  .dropdown-content p ion-icon {
    position: absolute;
    right: 20px;
    transform: translateY(3px);
  }

  .dropdown a:hover {background-color: #ddd;}

  body.dark-theme .dropdown a:hover {background-color: #0e0e0e;}
  
  .show {display: block;}

.introduc {
    height: 680px;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    backdrop-filter: blur(20px);
    border-bottom: solid 1px #000;
    background-color: #E8E9D8;
}

body.dark-theme .introduc {
  background-color: #030303;

}

.in-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    align-items: center;
}
/* Silkscreen */

.in-txt h1 {
    letter-spacing: -6px;
    font-size: 68px;
    line-height: 1.2;
    font-family: Silkscreen;
}

.in-txt {
    backdrop-filter: blur(10px);
    /* animation: SlideSectionTop 1s cubic-bezier(0.165, 0.84, 0.44, 1); */
    /* animation-delay: 1.7s; */
}

/* @keyframes SlideSectionTop {
  0% {
    opacity: 0;
    backdrop-filter: blur(15px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(0px);
    transform: translateY(0px);
  }
} */

body.dark-theme .in-txt {
  background-color: #030303;
}

.in-txt hr {
    width: 50%;
    border: solid 4px;
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.introd-img ion-icon {
  font-size: 300px;
}

.introd-img {
    backdrop-filter: blur(10px);
}

body.dark-theme .introd-img {
  background-color: #030303;
}

.in-txt p {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 15px;
    width: 400px;
}

.in-txt a {
    color: #000;
    background-color: #edd6c8;
    padding: 0.7rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    border: 1px #000 solid;
    box-shadow: #000 3px 3px 0px 1px;
}

body.dark-theme .in-txt a { 
  background-color: #030303;
  border: solid 1px #edd6c8;
  box-shadow: #edd6c8 3px 3px 0px 1px;
  border-radius: 2px;
}

.text-suggess {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3rem;
}

.text-suggess h1 {
  letter-spacing: -6px;
  font-size: 42px;
  -webkit-text-stroke-width: 1px;
  font-family: Silkscreen;
  display: inline-block;
}

.text-suggess hr {
  border: solid 3px;
  margin-top: 0.6rem;
  width: 17%;
}

.quick-links {
  z-index: 6;
  margin-top: 2.1rem;
}

.quick-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.quick-content li a {
    color: #000;
    font-size: 20px;
    font-family: Silkscreen;
    letter-spacing: -2px;
    -webkit-text-stroke-width: 1px;
}

body.dark-theme .quick-content li a {
  color: #eee;
}

.quick-content a{
  display: block;
  width: 260px;
  border-radius: 2px;
  border: solid 1px #222;
  background-color: #edd6c8;
  backdrop-filter: blur(5px);
  padding: 0.6rem 1rem;
  z-index: 6;
  box-shadow: #000 5px 5px 0px 3px;
}

body.dark-theme .quick-content a{
  background-color: #030303;
  border: solid 2px #edd6c8;
  box-shadow: #edd6c8 3px 3px 0px 1px;
}

.quick-content li a ion-icon {
  position: absolute;
  right: 20px;
  font-size: 26px;
}

.card {
  max-width: 1100px;
  padding-top: 7.9rem;
  height: 680px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
}

.card-content {
  width: 400px;
  outline: solid 2px #000;
  margin-right: 1.6rem;
  margin-left: 1.1rem;
  background: #81adb5;
  margin-bottom: 1.1rem;
  box-shadow: #000 5px 5px 2px 3px;
}

body.dark-theme .card-content {
  outline: solid 1px #edd6c8;
  background-color: #fb836d;
  box-shadow: #edd6c8 4px 4px 0px 2px;
}

.card-recommend {
  position: absolute;
  top: 45px;
}

.reconn {
  background: #edd6c8;
  padding: 0.2rem 1rem;
  border: solid 2px #222;
  box-shadow: #000 3px 3px 0px 1px;
}

body.dark-theme .reconn {
  background-color: #030303;
  border: solid 2px #edd6c8;
  box-shadow: #edd6c8 3px 3px 0px 1px;
}

.reconn h1 {
  font-family: Silkscreen;
  letter-spacing: -4px;
  -webkit-text-stroke-width: 1px;
}

.card-image img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.card-image {
  width: 400px;
  height: 200px;
}

.card-topbar {
  text-align: center;
  background-color: #edd6c8;
  padding: 0.4rem;
}

body.dark-theme .card-topbar {
  background-color: #0f0f0f;
}

.card-topbar h1 {
  font-family: Silkscreen;
  letter-spacing: -3.5px;
  -webkit-text-stroke-width: 0.4px;
  font-size: 28px;
}

.card-text {
  padding: 1.35rem;
  height: 278px;
  background-color: #E4DCCB;
}

body.dark-theme .card-text {
  background: #0f0f0f;
}

.card-text h1 {
  margin-bottom: 0.6rem;
  font-family: Silkscreen;
  letter-spacing: -4px;
  -webkit-text-stroke-width: 1px;
}

.card-text hr {
  width: 55%;
  margin-bottom: 1rem;
  border: solid 2px;
}

.card-text a {
  margin-top: 3rem;
  display: inline-block;
  color: #000;
  background-color: #edd6c8;
  padding: 0.5rem 1rem;
  border: solid 2px #222;
  box-shadow: #000 3px 3px 0px 1px;
}

body.dark-theme .card-text a {
  background: #030303;
  border: solid 2px #edd6c8;
  box-shadow: #edd6c8 3px 3px 0px 1px;
}

.container {
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1100px;
  -webkit-mask-image: linear-gradient(-90deg, transparent 2%, black 100%);
  mask-image: linear-gradient(-90deg, transparent 0%, black 16%);
}

/* P text expain on developer options */

.Suggess-Expaination {
  width: 440px;
  margin-top: 1.2rem;
  font-size: 18px;
  margin-bottom: 2rem;
}

/* responsive */

@media screen and (max-width: 1180px) {
  .adjust-nav-width {
    max-width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .adjust-nav-width {
    max-width: 700px;
  }
}

@media screen and (max-width: 740px) {
  .adjust-nav-width {
    max-width: 600px;
  }
  .navbar-tray {
    display: none;
  }
  .navbar-links {
    display: none;
  }
  #Toggle-link {
    visibility: visible;
  }
  .navbar-content {
    justify-content: space-between;
    width: 100%;
  }
}