* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

nav .nav-bar .logo a {
    letter-spacing: 0px;
    font-family: Arabica;
    font-size: 28px;
    display: block;
    transform: translateY(4px);
    line-height: 0.9;
}

.text-navbar i {
    font-size: 22px;
}

#Selecter span {
    font-family: Arabica;
    font-size: 21px;
}

.nav-bar .nav-links {
    font-family: FC-icons;   
}

.nav-bar .nav-links a {
    font-size: 24px;
}

.intro--banner h1 {
    letter-spacing: 0px;
    line-height: 1.2;
    font-family: MiSans-th-DemoBold;
    font-size: 65px;
}

.intro--banner strong {
    font-family: FC-icons;   
    font-size: 75px;
}

.intro--options p {
    font-family: Arabica;
    line-height: 1;
    font-size: 20px;
}

.intro--options h3 {
    font-family: FC-icons;   
    font-size: 26px;
}

.about--banner h2 {
    letter-spacing: 0px;   
    font-family: FC-icons;
}

.about--banner span {
    letter-spacing: 0px;
    font-family: MiSans-th-DemoBold;
    font-size: 39px;
    height: 3.5rem;
    padding-top: 0.3rem;
    -webkit-text-stroke-width: 0px;
    width: 330px;
    font-weight: 500;
}

.glitch {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    font-family: MiSans-th-DemoBold;
}

.comment-text h1 {
    letter-spacing: 0px;
    font-family: MiSans-th-DemoBold;
}

.comment-text span {
    font-family: FC-icons;
    width: 375px;
}

.comment-text h2 {
    font-family: Arabica;
    text-shadow: 0px 0px 4px rgba(10, 6, 6, 0.425), 0px 0px 18px rgba(89, 89, 89, 0.62);
    width: 330px;
    line-height: 1.25;
}

.intro--banner button {
    font-family: Arabica;
    font-size: 22px;
    padding: 0.5rem 2rem;
}

.comment-text li a {
    padding: 0.6rem 1rem;
    font-weight: 200;
    font-size: 20px;
    font-family: MiSans-th-Normal;
}

.alert-messeage h1 {
    font-size: 28px;
    font-family: MiSans-th-DemoBold;
}

.alert-messeage p {
    font-family: Arabica;
    font-size: 24px;
    width: 80%;
}

.alert-choice a {
    font-family: FC-icons;
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 0.5px;
}

.naccs .menu div.active {
    font-family: MiSans-th-Bold;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 0px;
}

.naccs .menu div {
    font-family: MiSans-th-DemoBold;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 0px;
}

.Sett-introduc {
    font-family: FC-icons;
    letter-spacing: 0px;
}

.Welcome-More span {
    font-family: MiSans-th-DemoBold;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 0px;
    width: 270px;
}

.expain p {
    font-family: MiSans-th-DemoBold;
    width: 335px;
}

.Exit-ToHome button {
    font-family: MiSans-th-Med;
}

.Theme-Sys h1 {
    font-family: MiSans-th-DemoBold;
    padding: 0.5rem 1rem;
    display: inline-block;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 0px;
}

.lang-sys h1 {
    font-family: MiSans-th-DemoBold;
    padding: 0.5rem 1rem;
    display: inline-block;
    -webkit-text-stroke-width: 0px;
    letter-spacing: 0px;
}

.company-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dupicate-navbar-logo h1 {
    font-family: Arabica;
    line-height: 0.9;
    font-size: 26px;
}

.Txt-alert-intro h1 p {
    font-family: Arabica;
    transform: translateY(5px);
}

.Txt-alert-intro h1 strong {
    font-family: FC-icons;
    -webkit-text-stroke-width: 0.2px;
}

.Txt-alert-intro h2 {
    font-family: MiSans-th-Med;
}

.Txt-alert-intro h2 b, strong {
    font-family: FC-icons;
}

.Txt-alert-intro li a {
    font-family: MiSans-th-Normal;
    letter-spacing: 0.6px;
}

#Mew-width-text {
    width: 420px;
    line-height: 1.4;
}

.menu span {
    font-family: MiSans-th-Normal;
}

.text-setting-nccess h1 {
    font-family: Arabica;
}

.Theme-Selecter a {
    font-family: Arabica;
    letter-spacing: 0px;
}

.option-linkclick div {
    font-family: MiSans-th-Normal;
}

.language a {
    letter-spacing: 0px;
    font-family: Arabica;
}

@media screen and (max-width: 500px) {
    .intro--banner strong {
        font-family: FC-icons;
        font-size: 56px;
    }
}

@media (max-width: 790px) {
    body.dark .menu {
        background: rgb(7, 7, 7);
        width: 260px;
    }
    .intro--banner strong {
        font-family: FC-icons;
        font-size: 56px;
    }
    .intro--banner img {
        top: 0px;
    }
    .intro--banner button {
        padding: 0.3rem 1rem;
        font-size: 18px;
    }
    .intro--options p {
        font-family: Arabica;
        line-height: 1;
        font-size: 15px;
    }
    .about--banner span {
        letter-spacing: 0px;
        font-family: MiSans-th-DemoBold;
        font-size: 28px;
        height: 2.6rem;
        padding-top: 0.3rem;
        -webkit-text-stroke-width: 0px;
        width: 250px;
        font-weight: 500;
    }
    .about--banner {
        height: 244px;
    }
    .about--banner i {
        position: absolute;
        /* bottom: -80px; */
        right: -107px;
        font-size: 298px;
    }
    .background i {
        font-size: 300px;
        position: absolute;
        bottom: 0;
        right: -160px;
    }
    .comment-text span {
        font-family: FC-icons;
        width: 249px;
    }
    .comment-text h2 {
        font-size: 20px;
        margin-top: 1rem;
        display: inline-block;
    }
    .comment-text li a {
        padding: 0.4rem 1rem;
        font-weight: 200;
        font-size: 12px;
        font-family: MiSans-th-Normal;
    }
    .comment-text {
        margin-bottom: 3rem;
    }
    .nav-bar .nav-links a {
        font-size: 22px;
    }
}

@media (max-width: 720px) {
    .about--banner i {
        position: absolute;
        right: -47px;
        font-size: 219px;
    }
    .background i {
        font-size: 205px;
        position: absolute;
        bottom: 170px;
        right: -81px;
    }
    .comment-text h2 {
        font-size: 17px;
        margin-top: 1rem;
        display: inline-block;
    }
}

@media (max-width: 412px) {
    .intro--options p {
        font-family: Arabica;
        line-height: 1;
        font-size: 9px;
    }
    .intro--options h3 {
        font-family: FC-icons;
        font-size: 18px;
    }
    .comment-text h1 {
        font-size: 50px;
    }
}

@media (max-width: 320px) {
    .menu {
        width: 320px;
    }
}

@media (max-width: 520px) {
    body nav .nav-bar .logo a {
        font-size: 24px;
    }
    .alert-choice a {
        font-size: 19px;
        border: none;
    }
}

  #toast #desc{
     font-family: MiSans-th-DemoBold;
     font-size: 18px;
  }